<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

    <h3><%= 10 + 5%></h3>
    
    <h1>Home Page</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam consectetur obcaecati debitis enim voluptatibus, eum possimus molestias aspernatur dolorum voluptates illo, minus velit nobis magnam impedit cumque perferendis quis.
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam consectetur obcaecati debitis enim voluptatibus, eum possimus molestias aspernatur dolorum voluptates illo, minus velit nobis magnam impedit cumque perferendis quis.
    </p>

    <%- include('partials/footer.ejs') %>
